name: CI

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:
    main:
        name: Main
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout repository
                uses: actions/checkout@v4
                with:
                    # SonarQube - Shallow clones should be disabled for a better relevancy of analysis
                    fetch-depth: 0

            -   name: Set up JDK 17
                uses: actions/setup-java@v3
                with:
                    java-version: 17
                    distribution: temurin

            -   name: Cache Maven packages
                uses: actions/cache@v3
                with:
                    path: ~/.m2
                    key: m2-${{ hashFiles('**/pom.xml') }}
                    restore-keys: m2

            -   name: Build & Test
                run: mvn verify -Pcontinuous-integration -B -C -U -ntp -fae -V -e

            -   name: Cache SonarCloud packages
                uses: actions/cache@v3
                with:
                    path: ~/.sonar/cache
                    key: sonar
                    restore-keys: sonar

            -   name: SonarCloud Quality Scan
                env:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
                    SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
                run: mvn sonar:sonar -Dsonar.projectKey=Cosmageia_mc-spring-boot-plugin-template

